ul#std_out {
    list-style: none;
}

li.stdout_elt:before {
      content: ">   ";
      color: red;
}

ul#std_err {
    list-style: none;

}

ul#std_warn {
    list-style: none;

}

ul#std_err li:before {
      content: "[error]   ";
      color: red;
    }

ul#std_warn li:before {
      content: "[warning]   ";
      color: orange;
    }

div#buttons {
    padding: 10px;
}

tarea.ic {
}

.panel-body {
    min-height: 150px;
    max-height: 500px;
    overflow: auto;
}
